{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "preact",
    "airbnb-typescript",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": [
      "./tsconfig.json"
    ]
  },
  "plugins": [
    "preact",
    "@typescript-eslint"
  ],
  "rules": {
    "consistent-return": "off",
    "@typescript-eslint/naming-convention": [
      1,
      {
        "selector": "enum",
        "format": [
          "UPPER_CASE"
        ]
      }
    ],
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-unused-expressions": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "@typescript-eslint/no-shadow": "off",
    "no-case-declarations": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off"
  },
  "settings": {
    "react": {
      "pragma": "h",
      "version": "latest"
    }
  }
}